@import "vars";
@import "fonts";
@import "global";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Medium", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.header {
  background-color: $accent;
  &-inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 640px) {
  .header {
    &-inner {
      min-height: 100px;
    }
  }
}

.logo-link {
  margin-left: 8px;
}
@media (min-width: 640px) {
  .logo-link {
    margin-left: 14px;
  }
}

@media (min-width: 768px) {
  .logo-link {
    margin-left: 0px;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    position: absolute;
    border-radius: 1px;
    background-color: $accent;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

@media (min-width: 1440px) {
  .menu-btn {
    margin-right: 90px;
  }
}

.head {
  background-image: url("../img/bg-slider.jpg");
  background-color: #0d1222;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
    background-position: center center;
  }
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
  &-item {
    color: white;
    text-align: center;
    min-height: 193px;
  }
  &-title {
    font-family: "RobotoCondensed-Regular";
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 8px;

      width: 61px;
      margin: 0 auto;
      background-color: $text-color;
    }
  }
  &-text {
    display: none;
  }
  &-btn {
    display: none;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid #476e4d;
      }
    }
    button {
      font-size: 0;
      border: none;
      padding: 0;
      background-color: $accent;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}

@media (min-width: 640px) {
  .top-slider {
    &-item {
      min-height: 386px;
    }
    &-title {
      font-size: 60px;
      line-height: 60px;
      padding: 50px 0 15px;
      margin: 0 auto 30px;
      max-width: 520px;
    }
    &-btn {
      display: block;
      margin: 0 auto 113px;
      font-size: 18px;
      font-weight: 500;
      background-color: $accent;
      color: $bg-color;
      padding: 16px 45px;
      border: none;
      border-radius: 3px;
    }
    .slick-dots {
      bottom: 50px;
    }
    .slick-arrow {
      width: 56px;
      height: 56px;
      border: none;
      position: absolute;
      right: 0;
      z-index: 5;
    }
    .slick-prev {
      background-color: $accent;
      top: calc(50% - 56px);
    }
    .slick-next {
      background-color: $bg-color;
      bottom: calc(50% - 56px);
    }
  }
}

@media (min-width: 768px) {
  .top-slider {
    &-item {
      min-height: 465px;
    }
    &-title {
      padding: 87px 0 0;
      margin: 0 auto 0;

      &::after {
        display: none;
      }
    }
    &-text {
      padding: 25px 0 32px;
      font-family: "RobotoCondensed-Regular";
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      display: block;
      max-width: 587px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1024px) {
  .top-slider {
    &-item {
      min-height: 618px;
    }
    &-title {
      padding-top: 101px;
      font-weight: normal;
      font-size: 84px;
      line-height: 84px;
      letter-spacing: 2px;
      max-width: 750px;
    }
    .slick-dots {
      bottom: 80px;
    }
  }
}

@media (min-width: 1440px) {
  .top-slider {
    &-item {
      min-height: 668px;
    }
    &-title {
      padding-top: 107px;

      font-size: 96px;
      line-height: 96px;
      max-width: 865px;
    }
    &-text {
      font-weight: normal;
      font-size: 24px;
      line-height: 26px;
      max-width: 886px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      top: calc(50% - 70px);
    }
    .slick-next {
      bottom: calc(50% - 70px);
    }
  }
}

.call {
  background-color: $accent;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  &-title {
    font-weight: 500;
    font-family: "Roboto-Medium";
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &-text {
    @extend %dosis-300;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  &-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    background-color: $bg-color;
    border: none;
    padding: 16px 15px;
    color: $accent;
    border-radius: 3px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .call {
    text-align: left;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-box {
      max-width: 427px;
    }
    &-text {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 1024px) {
  .call {
    &-box {
      max-width: 695px;
    }
    &-text {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (min-width: 1440px) {
  .call {
    &-inner {
      padding: 0 80px;
    }
    &-box {
      max-width: 796px;
    }
  }
}

.services {
  padding: 25px 0 40px;
  text-align: center;

  &-title {
    margin-bottom: 47px;
    color: $accent;
  }
  &-descr {
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 21px;
    color: $text-color;
  }
  &-text {
    color: #797979;
    line-height: 17px;
    font-size: 15px;
    margin-bottom: 40px;
  }
  &-item {
    min-height: 310px;
    border: 1px solid $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: none;
    padding: 0 18px;
    &:last-child {
      border-bottom: 1px solid $bg-color;
    }
    &:hover {
      .services-item-text,
      .services-item-link {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
      .servise-item-img {
        margin-bottom: 14px;
      }
      .services-item-title {
        margin-bottom: 30px;
      }
      .services-item-inner {
        border: 4px solid $accent;
        margin: 18px 0;
        padding: 25px 20px 5px;
        min-height: 277px;
      }
    }
  }
  &-item-inner {
    transition: all 0.5s;
  }
  &-item-img {
    margin-bottom: 30px;
  }
  &-item-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    @extend %robotocondensed-700;
    color: $text-color;
  }
  &-item-text,
  &-item-link {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  &-item-text {
    margin-bottom: 17px;
    @extend %dosis-500;
  }
  &-item-link {
    @extend %robotocondensed-700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $accent;
    text-transform: uppercase;
  }
}

@media (min-width: 640px) {
  .services {
    padding: 24px 0 0;
    text-align: center;

    &-title {
      margin-bottom: 20px;
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
    &-descr {
      font-size: 24px;
      margin-bottom: 31px;
      padding-bottom: 38px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 8px;
        background-color: $accent;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
    &-text {
      line-height: 24px;
      font-size: 18px;
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
    }
    &-item {
      width: 50%;
      &:nth-child(2n) {
        border-left: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .services {
    padding: 50px 0 0;
    &-title {
      margin-bottom: 30px;
    }
    &-descr {
      text-align: left;
      &::after {
        margin-left: 0;
      }
    }
    &-text {
      margin-bottom: 27px;
      text-align: left;
    }
    &-items {
      margin: 0 -40px;
    }
    &-item {
      min-height: 334px;
      &:hover {
        .services-item-inner {
          margin: 18px 0;
          padding: 35px 60px 5px;
          min-height: 288px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
    &-title {
      margin-bottom: 60px;
    }
    &-descr {
      padding-bottom: 46px;
      margin-bottom: 40px;
    }
    &-text {
      margin-bottom: 32px;
      max-width: 608px;
    }

    &-item {
      width: 25%;
      min-height: 277px;
      padding: 0 17px;

      &:nth-child(3),
      &:nth-child(7) {
        border-left: none;
      }
      &:hover {
        padding: 0 5px;
        .services-item-inner {
          margin: 10px 0;
          padding: 21px 9px 5px;
          min-height: 255px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .services {
    padding: 0;
    &-inner {
      display: flex;
      justify-content: space-between;
      margin: 0 -100px 0 -50px;
    }
    &-head {
      max-width: 350px;
      min-width: 350px;
      margin-right: 100px;
    }
    &-title {
      margin: 90px 0 70px;
      text-align: left;
    }
    &-descr {
      padding-bottom: 38px;
      margin-bottom: 35px;
    }
    &-items {
      margin: 0;
    }
    &-item {
      width: 230px;
      height: 273px;
      padding: 0 5px;
      &:hover {
        padding: 0 5px;
        .services-item-inner {
          margin: 5px 0;
          padding: 10px 3px 5px;
          min-height: 255px;
        }
      }
    }
  }
}
